.todo-list {
  margin-top: 2rem;

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px dashed get-color("border");

    &:focus-within {
      border-bottom: 1px solid get-color("border");
    }

    &--second {
      flex-grow: 1;
      text-align: left;
      color: get-color("brown");

      &:hover span,
      &:focus span {
        border: 1px dashed get-color("light-shade");
      }

      span {
        position: relative;
        padding: 0.2rem;
      }

      span > svg {
        position: absolute;
        top: 0;
        bottom: 0;

        right: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        .line {
          stroke-width: 1;
          stroke-dasharray: 500;
          stroke-dashoffset: 500;
          transition: stroke-dashoffset 1s ease-in-out;
        }
      }
    }

    .list-icons {
      display: flex;

      svg {
        vertical-align: middle;
      }

      button:focus,
      button:hover {
        outline: 1px dashed currentColor;
      }
    }

    .complete {
      color: get-color("light-shade");

      .line {
        stroke-dashoffset: 0;
      }
    }
  }
}
