.todo-form {
  //   width: 100%;
  display: flex;

  input {
    flex-grow: 1;
    border: 1px solid get-color("light-shade");
    color: get-color("brown");
    padding-left: 0.5rem;

    &:focus {
      outline: dashed 1px get-color("light-shade");
      outline-offset: -4px;
    }
  }

  button {
    padding: get-size("200") get-size("400");
    margin-left: 1rem;

    &:hover,
    &:focus {
      background: #619a53;
    }
  }

  .edit-btn:hover,
  .edit-btn:focus {
    background: #ba5b27;
  }
}
