.todo-list {
  margin-top: 2rem;

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px dashed get-color("border");

    &:focus {
      outline: 1px solid get-color("light-shade");
    }

    &__second {
      flex-grow: 1;
      text-align: left;
      color: get-color("brown");
    }

    .list-icons {
      display: flex;

      svg {
        vertical-align: middle;
      }

      &:focus {
        outline: 1px dotted #212121;
      }
    }

    .complete {
      color: get-color("light-shade");
    }
  }
}
